.div-menu {
    background-color: black;
    text-align: center;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    grid-template-areas: "left center right";
    margin: 0px;
}

.center {
    grid-area: center;
}

.right {
    grid-area: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

h1 {
    color: white;
    margin: 10px 0px 10px 0px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-inline-start: 0px;
    margin: 10px 0px 10px 0px;
}

li {
    color: white;
    margin: 10px;
    list-style-type: none;
}

li a {
    color: white;
    text-decoration: none;
}