button {
    background-color: #9C92A3;
}

.item-container {
    background-color: #0B3142;
    width: 300px;
    height: 365px;
    border-radius: 25px;
    margin: 20px;
}

.image-container {
    margin: 5px;
    border-radius: 15px;
    background-color: rgb(235,235,235);
    padding: 10px;
}
